.section-sub{
margin-top:20px;
color:#38bdf8;
}

.highlight{
border:1px solid #38bdf8;
}

.tags span{
background:#38bdf8;
color:black;
padding:3px 8px;
margin:3px;
border-radius:5px;
font-size:12px;
}

.small .card{
padding:10px;
text-align:center;
}

.card a{
display:inline-block;
margin-top:10px;
padding:6px 10px;
border:1px solid #38bdf8;
border-radius:6px;
}

.card a:hover{
background:#38bdf8;
color:black;
}
